body {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

.display {
  background: #000;
  color: #d9ff00;
  font-size: 32px;
  padding: 10px;
  text-align: right;
  margin-bottom: 11px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background: #3a3a3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}
